<!DOCTYPE html>
<html>
<head>
  <title>Test MarsDB</title>
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../build/marsdb.polyfills.js"></script>
  <script type="text/javascript" src="../build/marsdb.js"></script>
  <script type="text/javascript" src="../build/marsdb.angular.js"></script>
  <script type="text/javascript" src="../build/marsdb.localStorage.js"></script>
  <script type="text/javascript">
    angular.module('app', ['MarsDB'])
      // Use localStorage for persisting database
      .config(function($collectionProvider) {
        $collectionProvider.defaultStorageManager(Mars.Storages.LocalStorage);
      })

      // Simple todo list
      .controller('TodoController', function($collection, $scope) {
        const todoColl = $collection('todos');

        todoColl.find().sort(['createdAt']).observe(function(todos) {
          $scope.todos = todos;
        }, $scope);

        $scope.addItem = function() {
          if ($scope.newItem && $scope.newItem.length) {
            todoColl.insert({text: $scope.newItem, createdAt: new Date()});
            $scope.newItem = '';
          }
        }

        $scope.remove = function(item) {
          todoColl.remove(item._id);
        }

        $scope.update = function(item) {
          todoColl.update(item._id, {$set: {text: Date.now()}});
        }
      });
  </script>
</head>
<body ng-app="app">
  <div ng-controller="TodoController">
    <h1>TODO</h1>
    <h3>Add something and reload a page. Content will be there!</h3>
    <input ng-model="newItem" />
    <input type="submit" ng-click="addItem()" value="Add" />
    <div>
      <div ng-repeat="item in todos">
        {{ item.text }}
        <input type="button" ng-click="remove(item)" value="Remove" />
        <input type="button" ng-click="update(item)" value="Update" />
      </div>
    </div>
  </div>
</body>
</html>